body {
    background: #313131;
    color: white;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}

#background { 
    background-image: url(media/skyscrapperbackground.jpg);
    background-size: cover;
    opacity: 0.15;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
}

#inner {
    max-width: 800px;
    margin: 50px auto;
}

#logo {
    width: 360px;
    margin-left: -59px;
}

#listitems {
    font-size: 23px;
    font-weight: 100;
    list-style-type: circle;
    border-top-color: rgba(255,255,255,0.4);
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 58px;
    padding-left: 22px;
    margin-top: -125px;
}

#listitems li {
    margin-bottom: 20px;
}